<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
        background-color: navajowhite;
        }
        button{
            width: 70px;
            height: 30px;
            margin-top: 25%;
        }

    </style>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const btn=document.getElementById('btn')

            btn.addEventListener('click',()=>{
             alert("Button Has been clicked")
        })
        })
    </script>

</head>
<body>
<center>
    <button id="btn" >Click me</button>
</center>
</body>
</html>